/* # Utility: Icons 
================================================== */
/* Example:
 * <a href="#"><i class="batch" data-icon="&#xF000;"></i> Join the Conversation</a>
 */

@font-face{
  font-family:"Batch";
  src:url('../fonts/batch-icons-webfont.eot');
  src:url('../fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/batch-icons-webfont.woff') format('woff'),
    url('../fonts/batch-icons-webfont.ttf') format('truetype'),
    url('../fonts/batch-icons-webfont.svg#batchregular') format('svg');
  font-weight:normal;
  font-style:normal;
}
.batch {
  font-family:"Batch"; /*or whatever you've decalred your font name as*/
  font-size:16px;
  line-height:1;
  display:inline-block;
}

.batch:before {
    content:attr(data-icon);
}

.batch.large { font-size:32px; }
.batch.huge { font-size:64px; }
.batch.natural { font-size:inherit; }

/* # Dashboard 
================================================== */

.three.by-day {
    background-color: honeydew;
}
.storySet {
    min-height: 3em;
    margin: 0;
}
.storySet li{
    border: 1px solid #dedede;
    background: white;
    padding: 1em;
}
.storySet li.addStory {
    padding: 0.5em;
    border: 1px dashed #dedede;
}
.icon-button {
	display: inline-block;
	padding: 5px;
}
.icon-button:hover {
	background-color: green;
	color: white;
	border-radius: 8px;
}
span.label {
    max-width: 2em;
    text-transform: capitalize;
    font-size: 80%;
    font-weight: bold;
    padding: 1em;
}
span.writer {
    background-color: darkturquoise;
}
span.editor {
    background-color: pink;
}
span.writer-editor {
    background-color: lavender;
}

/* # Edit a story
================================================== */

.timeline .revision {
    float:left;
}
.warning {
    background-color: #FFF059;
    padding: 1em 9em;
}
input.editStory {
    border: 0;
}
.editStory.title { font-size: 3em; }
.editStory.dek { font-size: 2em; }
