<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ title if title else "Esphand" }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ink.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/esphand.css')}}">
	{% for css_path in css_includes %}
	<link rel="stylesheet" href="{{ url_for('static', filename=css_path)}}">
	{% endfor %}

	<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
	<![endif]-->

	<script src="{{ url_for('static', filename='js/ink-all.js') }}"></script>
	<script src="{{ url_for('static', filename='js/autoload.js') }}"></script>
	{% for script_path in js_includes %}
	<script src="{{ url_for('static', filename=script_path)}}"></script>
	{% endfor %}

</head>
<body>
	<nav class="ink-navigation">
		<ul class="menu horizontal black">
			{% block navigation %}{% endblock %} 
			<li ><a href="/logout" >Logged in as <em>{{ username }}</em>. <i class="fa fa-power-off"></i> Log out</a></li>
		</ul>
	</nav>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}

	{% block content %}{% endblock %}

</body>
</html>
