{% extends 'base.html' %}
{% block content %}
<nav>
	<ul>
		<li><a href="/new">New story</a></li>
	</ul>
</nav>
	<div class="container">
		<h2>My upcoming stories</h2>
		<div class="row">
			<div class="three columns by-day">
				<p>Tuesday</p>
			</div>
			<div class="thirteen columns">
				<ul id="tuesdayStories" class="storySet">
					<li><a href="/edit">Object-based coherent knowledge user</a>
						<span class="meta">
							<span class="label writer">CA</span>
							<span class="label editor">JF</span>
						</span>
						<br />
						<a href="#">Preview: mojo.com/preview/article/1</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="three columns by-day">
			<p>Wednesday</p>
		</div>
		<div class="thirteen columns">
			<ul id="wednesdayStories" class="storySet">
				<li>Virtual optimal product</li>
				<li>Focused actuating hub</li>
			</ul>
		</div>
	</div>


{% endblock %}
