{% macro unpublished_stories() %}
			<h2>Your unpublished stories</h2>
			<ul class="upcoming-stories unstyled">
				{% set label_color = cycler('grey', 'orange') %}
				{% for story in upcoming_stories %}
				<li class="{{ 'edited' if story['revision_ids']|length }}">
					<a href="/story/{{ loop.index - 1 }}/edit">
						{% if story['locked'] == True %}
						<i class="fa fa-lg fa-lock locked"></i>
						{% endif %}
						{{ story['title']|default("no title") }}
					</a>
					<span class="ink-label {{ label_color.next() }}">{{ story['comments']|default(0) }} <i class="fa fa-comment"></i></span>
				</li>
				{% endfor %}
			</ul>
			<a href="/upcoming-stories" class="ink-button">12 more...</a>
{% endmacro %}

{% macro recent_stories() %}
			<h2>Recent stories</h2>
			<ul class="unstyled">
				{% for num in range(5) %}
				<li>{% if num is odd %}<span class="ink-label orange">Unpublished</span>{% endif %}<a href="#">{{ lipsum(1, False, 5, 20) }}</a></li>
				{% endfor %}
			</ul>
			<a href="/recent-stories" class="ink-button">See all recent stories...</a>
{% endmacro %}



{% extends 'base.html' %}
{% block navigation %}
{% endblock %}
{% block content %}
<div class="ink-grid">
	<div class="column-group gutters">
		<div class="all-100">
			{{ unpublished_stories() }}
		</div>
		<div class="all-100">
			{{ recent_stories() }}
		</div>
	</div>
</div>


{% endblock %}
