{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<h2>My stories</h2>
		<div class="row">
			<div class="three columns by-day">
				<p>Tuesday</p>
			</div>
			<div class="thirteen columns">
				<ul id="tuesdayStories" class="storySet">
					<li><a href="/edit">Object-based coherent knowledge user</a>
						<span class="meta">
							<span class="label writer">CA</span>
							<span class="label editor">JF</span>
						</span>
						<br />
						<a href="#">Preview: mojo.com/preview/article/1</a>
					</li>
					<li>Team-oriented local hardware
						<span class="meta">
							<span class="label writer">CA</span>
							<span class="label editor">JF</span>
						</span>
						<br />
					</li>
					<li>Another Republican does something even stupider
						<span class="meta">
							<span class="label writer-editor">CA</span>
						</span>
						<br />
					</li>
				</ul>
			</div>
		</div>
		<div class="three columns by-day">
			<p>Wednesday</p>
		</div>
		<div class="thirteen columns">
			<ul id="wednesdayStories" class="storySet">
				<li>Virtual optimal product</li>
				<li>Focused actuating hub</li>
				<li>Republican senator does something stupid
						<span class="meta">
							<span class="label writer">CA</span>
							<span class="label editor">JF</span>
						</span>
						<br />
						<a href="#">Preview: mojo.com/preview/article/1</a>
				</li>
				<li>Story about mole people that live in huts
						<span class="meta">
							<span class="label writer-editor">JF</span>
						</span>
						<br />
						<a href="#">Preview: mojo.com/preview/article/1</a>
				</li>
			</ul>
		</div>
	</div>


{% endblock %}
