{% extends 'base.html' %}
{% block content %}
<div class="container">
	<nav id="dashboard_nav">
		<p>Logged in as <em>{{ username }}</em></p>
		<ul>
			<li><a href="/new"><i class="batch large" data-icon="&#xF10B;"></i> New story</a></li>
			<li><a href="/import"><i class="batch large" data-icon="&#xF13E;"></i> Import from Word</a></li>
			<li><a href="/logout"><i class="batch large" data-icon="&#xF069;"></i>Log out</a></li>
		</ul>
	</nav>
	<form action="/import" method="post" >
		<label>Word document to upload:</label>
		<input type="file" name="worddoc" accept="application/msword">
		<input type="submit" value="Upload" />
	</form>
</div>

{% endblock %}
