{% macro send_to_editor() %}
<fieldset class="all-40">
	<select id="" name="editor_id">
		<option value="">(Select an editor)</option>
		<option value="1">Juana Molina</option>
		<option value="2">Scott Kim</option>
		<option value="3">Grace Jones</option>
	</select>
	<input type="submit" value="Send to editor" />
</fieldset>
{% endmacro %}

{% extends 'base.html' %}


{# Not sure what goes in the menu yet...
{% if not story_is_locked %}
<menu id="add_story_elements" type="toolbar">
	<button type="button"><i class="batch" data-icon="&#xF040;"></i>Add picture</button>
	<button type="button"><i class="batch" data-icon="&#xF03A;"></i>Add sound</button>
	<button type="button"><i class="batch" data-icon="&#xF17C;"></i>View history</button>
</menu>
{% endif %}
#}

{% block menu %}
				<li><a href="/"><i class="fa fa-arrow-left"></i> Back to dashboard</a></li>
{% endblock %}

{% block content %}
{% if story_is_locked %}
<p class="ink-alert basic"><a href='#'>Mary Sue</a> is editing this article right now.</p>
{% endif %}
<div class="ink-grid">
	<div class="column-group">
		<form action="{{ action|default("/new") }}" method="post" class="{{ 'all-75' if show_comments else 'all-100' }} ink-form article">
				<input type="text" name="title" placeholder="title" spellcheck="true" value="{{ story['title'] }}" class="all-100" />
				<textarea name="content" spellcheck="true" rows="10" class="all-100">{{ story['content'] }}</textarea>
			{% if not story['locked'] %}
			<div class="column-group">
				{% if role == 'writer' and story['revision_ids']|length %}
				{{ send_to_editor() }} 
				{% endif %}
				{% if story['revision_ids']|length %}
				<fieldset name="publishing_data" class="all-50 column-group">
					<div class="control-group all-50">
						<label>Publish date:</label>
						<div class="control">
							<input id="publish_date" name="publish_date" class="ink-datepicker" data-initial-date="{{ todays_date }}" data-date-range="NOW:2015-05" data-position="right">
						</div>
					</div>
					<div class="control-group all-50">
						<label>Time:</label>
						<div class="control">
							<input id="publish_time" name="publish_time" value="03:00 PST" /> 
						</div>
					</div>
				</fieldset>
				{% endif %}

				<div class="all-10">
					<input type="submit" value="Save" class="push-right" />
				</div>
			</div>
			{% endif %}
		</form>
		{% if show_comments %}
		{#
		<aside class="all-25 comments">
			<div class="comment">Some comment about how the story blah blah</div>
			<div class="comment">Some comment about how the story blah blah</div>
			<div class="comment">Some comment about how the story blah blah</div>
			<div class="comment">Some comment about how the story blah blah</div>
		</aside> #}
		{% endif %}
	</div>
</div>
{% endblock %}
