{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<h2>Upcoming stories</h2>
		<div class="row">
			<div class="three columns by-day">
				<p>Tuesday</p>
			</div>
				<ul id="tuesdayStories" class="storySet thirteen columns">
					<li class="row">
						<div class="one column">
							<a href="/ready_for_publish" class="icon-button"><i class="batch large" data-icon="&#xF023;"></i>
						</div>
						<div class="nine columns">
						<a href="/edit">Object-based coherent knowledge user</a>
						<br />
						<a href="/preview">Preview: mojo.com/preview/article/1</a>
						</div>

						<div class="two columns">
							<span class="label writer">CA</span>
							<span class="label editor">JF</span>
						</div>
					</li>
					<li>Team-oriented local hardware
						<span class="meta">
							<span class="label writer">CA</span>
							<span class="label editor">JF</span>
						</span>
						<br />
					</li>
					<li>Another Republican does something even stupider
						<span class="meta">
							<span class="label writer-editor">CA</span>
						</span>
						<br />
					</li>
				</ul>
				<button>(+) Add new story</button>
		</div>
		<div class="three columns by-day">
			<p>Wednesday</p>
		</div>
		<div class="thirteen columns">
			<ul id="wednesdayStories" class="storySet">
				<li>Virtual optimal product</li>
				<li>Focused actuating hub</li>
				<li>Republican senator does something stupid
						<span class="meta">
							<span class="label writer">CA</span>
							<span class="label editor">JF</span>
						</span>
						<br />
						<a href="#">Preview: mojo.com/preview/article/1</a>
				</li>
				<li>Story about mole people that live in huts
						<span class="meta">
							<span class="label writer-editor">JF</span>
						</span>
						<br />
						<a href="#">Preview: mojo.com/preview/article/1</a>
				</li>
				<li class="addStory">(+) Add new story</li>
			</ul>
		</div>
	</div>


{% endblock %}
<i class="batch large" data-icon="&#xF090;"></i>
